@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?3ry073');
  src:  url('../fonts/icomoon.eot?3ry073#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?3ry073') format('truetype'),
    url('../fonts/icomoon.woff?3ry073') format('woff'),
    url('../fonts/icomoon.svg?3ry073#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-car:before {
  content: "\e904";
  color: #fff;
}
.icon-mail:before {
  content: "\e905";
  color: #fff;
}
.icon-vk:before {
  content: "\e900";
  color: #f13c6e;
}
.icon-facebook:before {
  content: "\e901";
  color: #f13c6e;
}
.icon-instagram:before {
  content: "\e902";
  color: #f13c6e;
}
.icon-youtube:before {
  content: "\e903";
  color: #f13c6e;
}
